.root {
    border-radius: 8px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
}

.title {
    margin-bottom: 20px;
}

.description {
    margin-top: 10px;
    margin-bottom: 15px;
}
