.root {
    padding: 20px 20px 0;
    margin-bottom: 20px;
}

.title {
    font-weight: 'bold';
    font-size: 30px;
    margin-bottom: 8px;
}

.description {
    font-size: 15px;
}

.tabs {
    margin-top: 20px;
}